\:root
  --mainblue: #2a2a76
  --lightblue: #009ffd
  --mainwhite: #f3f3f3
  --maindark: #232528
  --mainyellow: #ffa400

body
  font-family: 'KoHo', sans-serif !important

.App 
  text-align: center


.App-logo 
  animation: App-logo-spin infinite 20s linear
  height: 40vmin


.App-header 
  background-color: #282c34
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: calc(10px + 2vmin)
  color: white


.App-link 
  color: #61dafb
  
.details
  padding: 0 16px

.navbar_comm
  .inline 
    display: inline-flex
    justify-content: center
    align-items: center
    font-size: 18px
  p
    margin-top: 1em
  .float-right
    margin-top: 1.25em
    margin-right: 1em

.allelement .details
  display: inline-flex
  padding: 2.5% 5%
  a
    text-decoration: none
    color: var(--mainwhite)
    
.elementDetails
  img
    width: 200px
  
.inlinelement 
  display: inline-flex
  justify-content: center
  align-items: center
  font-size: 14px
.titlelement 
  padding-right: 10px
.pricelement
  font-style: italic
.pricelement::after
    content: 'Ƀ'

.datailscontainer
  display: inline-flex
  align-items: center
  div
    width: 50%
  div.text
    text-align: left
    font-size: 18px
.listInfo
  dl
    display: inline-flex
    dd 
      margin: 0 15px
      
.forbuttoms
  button
    margin: 0 10px
.carted
  color: var(--mainwhite)
  border: 1px solid var(--mainwhite)
  background-color: transparent
  
.notcarted
  color: var(--mainyellow)
  border: 1px solid var(--mainyellow)
  background-color: transparent
  transition: .25s
  &:hover
    background-color: var(--mainyellow)
    color: white
.cart
  width: 100%
.colums .undercolums
  display: flex
  justify-content: space-around
  .simplecolum 
    justify-content: space-around
    align-self: center
    padding: 2.5% 0
    img
      width: 100px
    .calc
      display: inline-flex
      .calcbutton
        border: 1px solid white
        padding: 5px 10px
        min-width: 33px
        margin: 0 3px
        transition: 0.3s
        &:hover
          background-color: var(--mainwhite)
          color: var(--maindark)
        p
          margin-bottom: 0
  
@keyframes App-logo-spin 
  from 
    transform: rotate(0deg)
  
  to 
    transform: rotate(360deg)
    
    
@media screen and (max-width: 600px) 
  .datailscontainer
    display: block
    align-items: center
    div
      width: 100%
      padding: 2%
  

